name: PR Preview

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]

jobs:
  preview:
    uses: kristjanjansen/mf-infra/.github/workflows/pr-preview.yml@main
    with:
      service_name: mf-host-web
      port: 4000
